---
const {
  title,
  subtitle,
  image,
  video,
  tags = [],
  description,
  link,
} = Astro.props;
---

<div class="swiper-slide">
  <div class="content case-study">
    {
      video ? (
        <video muted playsinline loop preload="auto" class="auto-play-video">
          <source src={video} />
        </video>
      ) : (
        <img class="image" src={image} alt={title} />
      )
    }
    <div class="text">
      <h1>{title}</h1>
      <h3>{subtitle}</h3>
      <div class="grouped">
        {tags.map((tag) => <h2 class={tag.class}> {tag.label}</h2>)}
      </div>
      <p>{description}</p>
      <a href={link}>
        <button>Case Study</button>
      </a>
    </div>
  </div>
</div>

<style>
  .grouped {
    border-left: 1px solid rgb(199, 199, 199);
    padding-left: 8px;
  }
  @media (max-width: 768px) {
    .grouped {
      border-left: 1px solid rgb(199, 199, 199);
      padding-left: 8px;
    }
    .content {
      height: 100%;
      width: 100%;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      height: auto;
      text-align: center;
      margin: 0;
      border-radius: 8px;
    }

    .case-study img,
    .case-study video {
      width: 100%;
      height: auto;
      padding-right: 0;
      margin-top: 24px;
    }

    .text {
      padding-left: 0 1rem;
      max-width: 90%;
    }

    .text h1 {
      font-size: 26px;
      padding: 2px;
    }

    .text h3 {
      font-size: 20px;
      padding: 2px;
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .text .grouped {
      margin-left: 0;
    }

    .content p {
      padding-left: 0;
      margin-top: 16px;
      margin-bottom: 16px;
      font-size: 14px;
    }

    button {
      background-color: transparent;
      color: white;
      border: white 1px solid;
      border-radius: 8px;
      cursor: pointer;
      max-width: 50%;
      padding: 8px 32px 8px 32px;
      font-size: 16px;
      margin-left: 0;
    }
  }
</style>
